body {
  font-family:Arial, Helvetica, sans-serif;
}
a {
  color: #fc9
}

a:visited {
  color: #fdb
}

a.external {
  color: #9cf;
}

a.external + span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("./images/external.svg");
  margin-left: 2px;
}

a.external:visited {
  color: #bdf;
}

h2,
h4 {
  text-decoration: underline;
}

code b * {
  color: #f60!important;
  font-weight: 400;
}

code i,
code i * {
  color: #998!important;
  font-style: normal;
}

code:not([class]) {
  background-color: #444;
  padding: 0 0.2em;
  font-size: 14px;
}

code u,
code u * {
  color: #cc0!important;
  text-decoration: none;
}

code s,
code s * {
  color: #096!important;
  text-decoration: none;
}

aside {
  background-color: #020;
  padding: 0.25em 1em;
  border-left: 1em solid #040;
  box-sizing: border-box;
}

aside:not([class]) code {
  background-color: #353;
}

aside.vscode {
  background-color: #224;
  border-left: 1em solid #006;
}

aside.tip {
  background-color: #330;
  border-color: #973
}

aside.warn {
  background-color: #320;
  border-color: #643
}

aside.alert {
  background-color: #200;
  border-color: #600;
}

aside.alert code {
  background-color: #633;
}

li {
  margin-top: 0.5em;
}