:root {
  /* Menu */
  --menu-width: min(12.7em, 50vw);
  --menu-font-size: 4vw;

  --ratio: 0.25;
  --icon-size: calc(var(--ratio) * var(--menu-width));
  --list-width: calc(var(--menu-width) - 1rem);
  --items-height: calc(100vh - var(--icon-size));
  --svg-margin: 0.4em;
  --darkly: #222e;
  --border: #888;
  --selected: #000;

  /* Body */
  --dark: #222;
  --light: #ddd;
  --bright: #fff;
  --main-width: 725px;

  --min-width: calc(var(--main-width) + var(--menu-width));

  /* Links */
  --link-color: #fc9;
  --link-visited: #fdb;

  /* Footer */
  --footer-height: 2em;
  --footer-top: calc(100vh - var(--footer-height))
}

body {
  background-color: var(--dark);
  color: var(--light);
  margin: 0;
  font-family:Arial, Helvetica, sans-serif;
}

main {
  position: relative;
  max-width: var(--main-width);
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1em;

  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

header {
  text-align: center;
}

/* Hide all sections... */
section {
  display: none;
  /* Print non last-of-type sections after last-of-type */
  order: 1;
  flex: 1;
}

/* ...except the last, or the :target... */
section:last-of-type,
section:target {
  display: block;
  /* Print the last-of-type section first */
  order: 0;
}

/* ... and hide the last if a target is showing */
section:target ~ section:last-of-type {
  display: none
}

footer {
  height: var(--footer-height);
  margin: var(--footer-height) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer button {
  display: inline-block;
  background-color: transparent;
  color: inherit;
  box-sizing: border-box;
  border: 1px outset #0000; /* transparent */
  border-radius: 0.2em;
  width: var(--footer-height);
  height: var(--footer-height);
  cursor: pointer;
}

footer button:hover {
  border-color: #6c6;
}

footer button:active {
  border-style: inset;
  background-color: #000; /* only applies to #previous button */
}

footer button:disabled {
  background-color: transparent;
  opacity: 0.2;
  pointer-events: none; /* to prevent reactions to :hover */
}

footer span {
  -webkit-user-select: none; /* Safari */
          user-select: none;
}

footer button:hover + span {
  color: var(--bright);
}

/* CONTENT / CONTENT / CONTENT / CONTENT / CONTENT / CONTENT */


h2,
h4 {
  text-decoration: underline;
}

code b,
code b * {
  color: #f60!important;
  font-weight: 400;
}

code i,
code i * {
  color: #998!important;
  font-style: normal;
}

code:not([class]) {
  background-color: #444;
  padding: 0 0.2em;
  font-size: 14px;
}

h2 code:not([class]), /* :not([class]) needed for specificity */
h3 code:not([class]),
h4 code:not([class]) {
    font-size: 1.2em;
}

code u,
code u * {
  color: #cc0!important;
  text-decoration: none;
}

code s,
code s * {
  color: #096!important;
  text-decoration: none;
}

aside,
blockquote {
  background-color: #020;
  padding: 0.25em 1em;
  border-left: 1em solid #040;
  box-sizing: border-box;
}

aside.center {
  text-align: center;
  border-right: 1em solid;
}

aside:not([class]) code {
  background-color: #353;
}

aside.vscode {
  background-color: #224;
  border-left: 1em solid #006;
}

aside.tip {
  background-color: #330;
  border-color: #973
}

aside.tip pre,
aside.tip p code {
    background-color: #440;
}

aside.warn {
  background-color: #320;
  border-color: #643
}

aside.alert {
  background-color: #200;
  border-color: #600;
}

aside.alert code {
  background-color: #633;
}

aside.question {
  background-color: #202;
  border-right: 1em solid;
  border-color: #606;
}

aside.question code {
  background-color: #525;
}

li,
br {
  margin-bottom: 0.5em;
}

th {
  padding: 0 1em;
  vertical-align: top;
  width: fit-content;
  white-space: nowrap;
  text-align: right;
}

img {
  display: block;
  margin: 0 auto;
}

blockquote {
  background-color: #444;
  border-color: #666;
}

/* LINKS / LINKS / LINKS / LINKS / LINKS / LINKS / LINKS */

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-visited);
}

a.external {
  color: #9cf;
}

a.external span {
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("./images/external.svg");
  margin-left: 2px;
}

a.external:visited {
  color: #bdf;
}

/* The #next button must be listed before #next-name so that
   button:hover + span will work. But it must be displayed
  _after_ the name.
 */
#next {
  background-color: #090; /* even when active: call to action */
  order: 1
}

/* Don't crowd the names against the buttons */
#previous-name {
  margin-left: 0.5em
}

#next-name {
  margin-right: 0.5em
}

/* Push the previous-name and next-name spans apart */
#spacer {
  flex-grow: 1
}

#intro .feedback-wide {
  display: block
}
#intro .feedback-small {
  display: none
}

button[data-name] {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  text-decoration: underline;
}

button[data-name]:hover {
  color: #fff;
}

[name^=anchor] {
  background-color: transparent;
  transition: background-color 2000ms ease-out;
}

[name^=anchor].highlight {
  background-color: #666;
  transition: background-color 0ms;
}

/* MENU / MENU / MENU / MENU / MENU / MENU / MENU / MENU */

#menu {
  position: fixed;
  top: 0;
  left: calc(-1 * var(--menu-width)); /* offscreen by default */
  font-size: var(--menu-font-size);

  height: 100vh;
  width: var(--menu-width);
  background-color: var(--darkly);
  border-right: #000;
  box-shadow: 10px 10px 10px #0009;
  z-index: 99;

  transition: left .4s linear;
}

#menu-icon {
  position: fixed;
  width: var(--icon-size);
  height: var(--icon-size);
  stroke: #fff;
  top: 0;
  left: 0;
  transition-property: left, opacity;
  transition-duration: .3s, .1s;
  transition-timing-function: linear, e2e;
  opacity: 0.2;
}

#menu.open {
  left: 0;
}

#menu.open #menu-icon {
  opacity: 0.8;
  left: calc(var(--menu-width) - var(--icon-size)); transition-delay: 0.1s, 0s;
}

#menu #menu-icon:hover { /* boost specificiy */
  opacity: 1;
}

#menu-items {
  display: flex;
  flex-direction: column;
  margin-top: var(--icon-size);
  height: var(--items-height);
  overflow-y: auto;
  list-style-type: none;

  padding: 0 0.5em;
}

#menu li {
  margin-top: 0.25em;
  border: var(--border) outset 1px;
  border-radius: 0.5em;
  color: var(--light);
}

#menu li:hover {
  color: var(--bright);
}

#menu li.target {
  border-style: inset;
  background-color: var(--selected)
}

#menu a {
  display: inline-block;
  padding: 0.25em 1em;
  box-sizing: border-box;

  width: 100%;
  text-decoration: none;
  color: inherit;
  -webkit-user-select: none; /* Safari */
          user-select: none;
}

#menu-items .spacer {
  order: 1;
  flex: 1;
  border: none;
}

#menu-items .feedback,
#menu-items li.repo {
  order: 2;
  border: none;
  margin-bottom: 0.5em;
  text-align: center;
}

#menu-items .feedback {
  text-decoration: underline;
}

.repo {
  display: flex;
  justify-content: center;
}

.repo img {
  height: var(--footer-height);
  width: var(--footer-height);
  margin: 0;
}

div.repo a,
#menu-items .repo a {
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

div.repo {
  margin: 2em 0;
}

div.repo a {
  justify-content: center;
}

div.repo span {
  margin-left: 1em;
}

/* RESPONSIVENESS / RESPONSIVENESS / RESPONSIVENESS */

@media (min-width: 410px) {
  #menu {
    font-size: 1rem;
  }
}

/* There's not enough room for both footer names.
   Show the name of the next page, unless the mouse
  is over the #previous button.
 */
@media (max-width: 420px) {
  footer span:first-of-type {
    display: none
  }
  #previous:hover ~ span:last-of-type {
    display: none;
  }
  #previous:hover + span {
    display: inline;
  }
  #intro .feedback-wide {
    display: none
  }
  #intro .feedback-small {
    display: block
  }
}

/* It's too narrow to show even one name without it wrapping */
@media (max-width: 240px) {
  footer span {
    display: none
  }
}

@media (min-width: 750px) {
  main {
    padding-left: 6px;
    padding-right: 6px
  }
}

@media (min-width: 930px) {
  main {
    --extra: calc((100vw - var(--menu-width) - var(--main-width)) / 2);
    --left-margin: calc(var(--menu-width) + var(--extra));
    margin-left: var(--left-margin);
    margin-right: var(--extra);
  }

  #menu {
    left: 0;
  }
  #menu-icon {
    display: none;
  }
}

@media print {
  /* Don't print the menu or footer */
  #menu,
  footer {
    display: none !important;
  }

  /* Print all sections */
  main {
    height: auto;
  }

  p {
    display: block;
    page-break-inside: avoid;
  }

  section {
    display: block !important;
  }
}